# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Node
node_modules/

# Database
db.sqlite3

# Media
media/

# Other
.env
.env.sample
.env.production
README.md


screenshots
dumps

static

package-lock.json
package.json

requirements.txt

tailwind.config.js