node_modules
.env
.git
.gitignore
README.md
screenshots
dumps
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
.pytest_cache
.coverage
htmlcov
.tox
.cache
.mypy_cache
.DS_Store
*.egg-info
dist
build
.idea
.vscode
staticfiles
media