{% extends "../layout.html" %} {% block title %} {{title}} {% endblock title %}
{% block content %}

<div class="max-w-xl mx-auto">
    <h1 class="text-2xl font-bold text-center underline mb-5">Your feedback is neccasary for us</h1>

    <form action="{% url 'reviews:feedback' review_token.type_of_review review_token.pk %}" method="post">
        {% csrf_token %}
        {% if review_token.type_of_review == "R" %}
        <div class="mb-5">
            <label for="restaurant_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Restaurant : </label>
            <input type="text" name="restaurant_name" aria-label="disabled input 2" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{review_token.which_restaurant}}" disabled readonly>
        </div>
        {% elif review_token.type_of_review == "D" %}
            <div class="flex justify-between">
                <div class="mb-5">
                    <label for="restaurant_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Restaurant : </label>
                    <input type="text" name="restaurant_name" aria-label="disabled input 2" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{review_token.which_restaurant}}" disabled readonly>
                </div>
                <div class="mb-5">
                    <label for="dish_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dish : </label>
                    <input type="text" name="dish_name" aria-label="disabled input 2" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{review_token.which_dish}}" disabled readonly>
                </div>
            </div>  
        {% endif %}
        <div class="mb-5">
            <label for="rating_number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rating : </label>
            <select name="rating_number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
            </select>
        </div>
        <div class="mb-5">
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comment : </label>
            <textarea name="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..." required></textarea>
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Done</button>
    </form>
</div>

{% endblock content %}